In [2]:
# Variables are containers that store data. Python has no command for declaring variable
#● You simply assign a value to a variable to create it
#● You use = to assign a value to a variable

In [28]:
Movie_name = "Harry Potter"
realease_year = 2001
print(Movie_name)
print(realease_year)

Harry Potter
2001

In [29]:
name = "buddy"
age = 21
print(name)
print(age)

buddy
21

# print variables with text

In [30]:
print(name,'is',age,'Years old')

buddy is 21 Years old

In [31]:
print("jhon is older than",name,'she is',age+5)

jhon is older than buddy she is 26

# Reassign variable

In [32]:
name = "harry"

In [33]:
name

'harry'

In [34]:
friend_name

'harry'

In [35]:
friend_name = name

In [36]:
friend_name

'harry'

# Multiple variables assignment with same value

In [37]:
jhon_age = buddy_age = prabha_age = 18
print("jhon_age is",jhon_age)
print("buddy_age is",buddy_age)
print("prabha_age is",prabha_age)

jhon_age is 18
buddy_age is 18
prabha_age is 18

In [38]:
ram = charan = jay = 'police'
print('ram designation',ram)
print('charan designation',charan)
print('jay designation',jay)

ram designation police
charan designation police
jay designation police

# Multiple variables assignment with different values

In [39]:
name,age,salary = 'bunny',23,25000
print(name)
print(age)
print(salary)

bunny
23
25000

# variables are case sensitive

In [15]:

name = 'harry'
Name = 'potter'
print(name +" "+ Name)

harry potter

In [40]:
a=5
A = 6
print(a)
print(A)

5
6

In [41]:
# Variable names should be descriptive
6fruit = 'apple'
print(6fruit)

SyntaxError: invalid decimal literal (3496261365.py, line 2)

In [43]:
fruits6 = 'apple'
print(fruits6)

apple

In [2]:
_fruits6 = 'apple'
print(_fruits6)

apple