In [20]:
# string
name = "Hey hii welcome to string data type"
print(name)

Hey hii welcome to string data type

In [21]:
# by using type() function we will check the data type of variable
type(name)

str

# Create integer & string variables

In [22]:
# create the string variable
Name = "Harry"
# create the int variable
age = 23
print(Name)
print(age)

Harry
23

# Create float & boolean variables

In [23]:
# create the float variable
product_price = 98.66
# create the boolean variable
success = True

In [24]:
print(product_price)
print(success)

98.66
True

# Checking data types with type() function

In [25]:
print(type(name))

<class 'str'>

In [26]:
print(type(age))

<class 'int'>

In [27]:
print(type(product_price))

<class 'float'>

In [28]:
print(type(success))

<class 'bool'>

#

In [31]:
a = 8  # int
b = 7.5 # float
print(a+b)

15.5

In [32]:
type(a)

int

In [33]:
type(b)

float

In [34]:
# Boolean
a = True
b = False
type(a)

bool

In [35]:
type(b)

bool

In [36]:
a= bool(0)
b = bool(1)
type(b)

bool

In [37]:
type(a)

bool

In [38]:
name = None
type(name)

NoneType

# Task

In [40]:
print(bool("")+4)

4

In [1]:
print(bool(" ")+4)

5

# Data type conversion

Python allows to convert one data type to another
##### Implicit Conversion: 
Conversion done by Python interpreter with programmerâ€™s
intervention
##### Explicit Conversion: 
Conversion that is user-defined that forces an expression to be of specific data type

# *********************************************************

### Implicit conversion

# integer to float

In [3]:
# integer type data
income = 200
# float type data
additional_income = 50.75
# implicit conversion:upon addition the resultant variable becomes float type
total_income = income+additional_income

print(total_income)
print(type(total_income))

250.75
<class 'float'>

### implicit Conversion in List Operations

In [5]:
my_list = [1,2,3,4,5]
my_list.append(6) # implicitly treated as an integer
print(my_list)

[1, 2, 3, 4, 5, 6]

### implicit Conversion in comparision

In [7]:
a = 10  # int
b = 10.0 # float
print(bool(a==b))# impicitly converts 'a' to float for comparison

True

##### Explicit conversion is required when you have mixed data types.

In [8]:
price = 100 # numeric data type
tax = '18' # string data type
total_cost = price+tax

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [10]:
price1 = 100
tax = '18'
'''String Data type. Needs to beconverted to integer type before
adding to another numeric variable'''
total_cost = price+int(tax)
print(total_cost)

118

In [12]:
c = 7.9
d = int(c)# here ,we convert the float to an integer manually
print(d)
print(type(c))
print(type(d))

7
<class 'float'>
<class 'int'>